
.container{
    width: 600px !important;
    margin-top: 10rem;
}

button{
    border: none;
    font-size: 1.3rem !important;
}
input{
    width: 600px;
    font-size: 1.5rem !important;
}

.result{
    height: 100px;
    border: none;
    background-color: whitesmoke;
    outline: none;
}


.trigonometry{
    border: none;
    outline: none;
    background: transparent;
}

.Function{
    border: none;
    outline: none;
    background: transparent;
}